* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

html {
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    background: linear-gradient(270deg, hsla(120, 100%, 20%, 0.65), hsla(164, 22%, 50%, 0.65));
    box-sizing: border-box;
}

h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 50;
    text-align: center;
    margin: 1rem 0 3rem;
    font-family: 'Hind', sans-serif;
}

.title {
    color: #145214;
    text-transform: capitalize;
    font-weight: 800;
    font-family: 'Ephesis', cursive;
}

.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 260px;
    border-radius: 10px;
    width: 50%;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
    resize: vertical;
    color: white;
    background-color: #85e085;
    z-index: 100;
    box-shadow: 0 8px 15px -7px #196719;
}

.add {
    outline: none;
    border: none;
    position: relative;
    height: 50px;
    border-radius: 5px;
    width: 50%;
    background-color: #196719;
    color: #ffe6e6;
    cursor: pointer;
    transition: .5s;
    margin-left: 1rem;
    margin-bottom: 2rem;
    font-size: medium;
    font-weight: 700;
}

.add:hover {
    opacity: 0.7;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.item {
    padding: 0.5rem 0 0.5rem 0;
    border-bottom: 4px solid #fff;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    width: 50%;
}

.item_input {
    background: none;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.4rem;
    width: 245px;
}

.edit {
    background: none;
    outline: none;
    border: none;
    color: #145214;
    font-size: 1rem;
    font-family: 'Hind', sans-serif;
    margin: 0 0.5rem;
    cursor: pointer;
    padding: 1rem;
}

.edit:hover {
    background-color: white;
    border-radius: 2rem;
}

.size {
    padding: 0.5rem 1rem;
    height: 260px;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin-top: -3rem;
    margin-bottom: 0rem;
    font-size: 1.15rem;
    overflow-y: scroll;
    resize: none;
    box-sizing: border-box;
    display: inline;
}

.remove {
    background: none;
    outline: none;
    border: none;
    color: #145214;
    font-size: 1rem;
    font-family: 'Hind', sans-serif;
    padding: 1rem;
    cursor: pointer;
}

.remove:hover {
    background-color: white;
    border-radius: 2rem;
}

::-webkit-scrollbar {
    width: 7px;
}